# Binarios compilados
snowman
snowman.exe
*.exe
*.bin
/packages/
/snow.lock

# Excepto en build/
!build/snowman
!build/snowball

# Temporales de Go y SO
*.test
*.prof
.DS_Store
*.swp
*~
.idea/
.vscode/
.trae/
*.txt
